<label for="id_{{ field.name }}" class="form-label{% if required %} fw-bold{% endif %}">{{ label }}</label>
<input
	type="{% if type is None %}text{% else %}{{ type }}{% endif %}"
	id="id_{{ field.name }}"
	name="{{ field.name }}"
	class="form-control"
	{% if field.value is not None %}value="{{ field.value }}"{% elif initial is not None %}value="{{ initial }}"{% endif %}
	{% if required is not None %} required{% endif %}
	{% if readonly is not None %} readonly{% endif %}
	{% if autofocus is not None %} autofocus{% endif %}
	{% if autocomplete is not None %} autocomplete="{{ autocomplete }}"{% endif %}
	{% if autocapitalize is not None %} autocapitalize="{{ autocapitalize }}"{% endif %}
>
{% include "iris/forms/include/field_errors.html" %}
