<label for="id_{{ field.name }}" class="form-label">{{ label }}</label>
{% include "iris/forms/include/field_errors.html" %}
<input
	type="number"
	id="id_{{ field.name }}"
	name="{{ field.name }}"
	class="form-control"
	value="{% if field.value is not None %}{{ field.value|stringformat:'s' }}{% endif %}"
	{% if required is not None %} required=""{% endif %}
	{% if readonly is not None %} readonly=""{% endif %}
	{% if autocomplete is not None %} autocomplete="{{ autocomplete }}"{% endif %}
	{% if autofocus is not None %} autofocus=""{% endif %}
	{% if min is not None %} min="{{ min }}"{% endif %}
	{% if max is not None %} max="{{ max }}"{% endif %}
>
