{% load iris_tags %}

<label for="id_{{ field.name }}" class="form-label{% if required %} fw-bold{% endif %}">{{ label }}</label>
<select
	id="id_{{ field.name }}"
	name="{{ field.name }}"
	class="form-control"
	{% if required is not None %} required{% endif %}
	{% if readonly is not None %} readonly{% endif %}
	{% if autofocus is not None %} autofocus{% endif %}
>
	<option {% if not selected %}selected {% endif %}value="0">{{ select_hint }}</option>
	{% for item in items %}
	<option {% if selected == item.pk %}selected {% endif %} value="{{ item.pk }}">{% make_item_title item %}</option>
	{% endfor %}
</select>
{% include "iris/forms/include/field_errors.html" %}
