{% load i18n %}

<div class="container mt-4">
	{% if task.completed %}
	<div class="card border-success">
		<div class="card-header text-success">{% translate "This task has been completed." %}</div>
	{% elif task.delayed %}
	<div class="card border-warning">
		<div class="card-header text-dark text-warning">{% translate "This task is delayed." %}</div>
	{% elif task.suspended %}
	<div class="card border-danger">
		<div class="card-header text-danger">{% translate "This task is suspended." %}</div>
	{% else %}
	<div class="card">
	{% endif %}
		<div class="card-header">
			<h5 class="card-title">{{ task.step.name }}</h5>
			{% if task.item.quantity != 1 %}<h6 class="card-subtitle mb-2 text-muted">{% blocktranslate with quantity=task.item.quantity %}{{ quantity }} times{% endblocktranslate %}</h6>{% endif %}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{ task.item }}</li>
			{% if task.completed and task.commit.notes %}
			<li class="list-group-item">
				<p>{% translate "Commit notes" %}</p>
				<p>{{ task.commit.notes|linebreaks }}</p>
			</li>
			{% endif %}
		</ul>
		<div class="card-footer">
			{% include "iris/task_cards/buttons/goto_task.html" %}
			{% if task.completed %}
			{% include "iris/task_cards/buttons/edit_commit.html" %}
			{% endif %}
		</div>
	</div>
</div>
