{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}

{% block bootstrap_title %}Iris workshop management system{% endblock %}

{% url 'iris:index' as index_url %}

{% block bootstrap5_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ index_url }}">Index</a>
                </li>
            </div>
        </div>
    </nav>

    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block content %}
            {% bootstrap_button "Go to Index" href=index_url %}
        {% endblock %}
    </div>

{% endblock %}
