{% load i18n %}

<div class="container mt-4">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">{{ job.task.name }}</h5>
			{% if job.work.quantity != 1 %}<h6 class="card-subtitle mb-2 text-muted">{% blocktranslate with quantity=job.work.quantity %}{{ quantity }} times{% endblocktranslate %}</h6>{% endif %}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{ job.work }}</li>
		</ul>
		<div class="card-footer">
			<a class="btn btn-primary" href="{% url 'iris:job_detail' job.pk %}{% if station is not None %}?station={{ station.pk }}{% endif %}">{% translate "Details" %}</a>
		</div>
	</div>
</div>
