{% load i18n %}

<div class="container mt-4">
	{% if job.delayed and current_mode != "delays" %}
	<div class="card border-warning">
	{% elif job.suspended and current_mode != "suspensions" %}
	<div class="card border-danger">
	{% else %}
	<div class="card">
	{% endif %}
		{% if job.delayed and current_mode != "delays" %}
		<div class="card-header text-dark text-warning">{% translate "This job is delayed." %}</div>
		{% elif job.suspended and current_mode != "suspensions" %}
		<div class="card-header text-danger">{% translate "This job is suspended." %}</div>
		{% endif %}
		<div class="card-header">
			<h5 class="card-title">{{ job.task.name }}</h5>
			<p class="card-text">{{ job.work }}</p>
		</div>
		<ul class="list-group list-group-flush">
			{% if job.delayed %}
			<li class="list-group-item">
				<p class="card-text">{% blocktranslate with ends_at=job.delayed_by.ends %}Ends at {{ ends_at }}{% endblocktranslate %}</p>
			</li>
			{% endif %}
			{% if job.work.notes %}
			<li class="list-group-item">
				<p>{% translate "Work notes" %}</p>
				<p>{{ job.work.notes|linebreaks }}</p>
			</li>
			{% endif %}
			{% if job.delayed and job.delayed_by.notes %}
			<li class="list-group-item">
				<p>{% translate "Delay notes" %}</p>
				<p>{{ job.delayed_by.notes|linebreaks }}</p>
			</li>
			{% elif job.suspended and job.suspended_by.notes %}
			<li class="list-group-item">
				<p>{% translate "Suspension notes" %}</p>
				<p>{{ job.suspended_by.notes|linebreaks }}</p>
			</li>
			{% endif %}
		</ul>
		<div class="card-footer">
			<a class="btn btn-primary" href="{% url 'iris:job_detail' job.pk %}">{% translate "Job details" %}</a>
			{% if job.delayed %}
			<a class="btn btn-primary" href="{% url 'iris:delay_change' job.delayed_by.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Edit delay" %}</a>
			<a class="btn btn-danger" href="{% url 'iris:delay_end' job.delayed_by.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "End delay" %}</a>
			{% elif job.suspended %}
			<a class="btn btn-primary" href="{% url 'iris:suspension_change' job.suspended_by.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Edit suspension notes" %}</a>
			<a class="btn btn-danger" href="{% url 'iris:suspension_lift' job.suspended_by.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Lift suspension" %}</a>
			{% endif %}
		</div>
	</div>
</div>
