{% load i18n %}

<div class="container mt-4">
	{% if job.completed %}
	<div class="card border-success">
	{% elif job.delayed %}
	<div class="card border-warning">
	{% elif job.suspended %}
	<div class="card border-danger">
	{% elif job.canceled %}
	<div class="card border-danger">
	{% else %}
	<div class="card">
	{% endif %}
		<div class="card-header">
			<h5 class="card-title">{{ job.task.name }}</h5>
			{% if job.work.quantity != 1 %}<h6 class="card-subtitle mb-2 text-muted">{% blocktranslate with quantity=job.work.quantity %}{{ quantity }} times{% endblocktranslate %}</h6>{% endif %}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">{{ job.work }}</li>
			{% if job.work.notes %}
			<li class="list-group-item">
				<p>{% translate "Work notes" %}</p>
				<p>{{ job.work.notes|linebreaks }}</p>
			</li>
			{% endif %}
			{% if job.task.instructions %}
			<li class="list-group-item">{{ job.task.instructions }}</li>
			{% else %}
			<li class="list-group-item">{% translate "No instructions." %}</li>
			{% endif %}
		</ul>
		{% if job.completed %}
		<div class="card-footer text-success">{% translate "This job has been completed." %}</div>
		{% elif job.delayed %}
		<div class="card-footer text-dark text-warning">{% translate "This job is delayed." %}</div>
		{% elif job.suspended %}
		<div class="card-footer text-danger">{% translate "This job is suspended." %}</div>
		{% elif job.canceled %}
		<div class="card-footer text-danger">{% translate "This job has been canceled." %}</div>
		{% else %}
		<div class="card-footer">
			<a class="btn btn-success" href="{% url 'iris:job_add_commit' job.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Commit" %}</a>
			<a class="btn btn-warning" href="{% url 'iris:job_add_delay' job.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Delay" %}</a>
			<a class="btn btn-danger" href="{% url 'iris:job_add_suspension' job.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Suspend" %}</a>
		</div>
		{% endif %}
	</div>
</div>
