{% extends 'iris/base.html' %}

{% load i18n %}

{% block content %}
<h1 class="container-fluid fs-6 p-2 bg-light border">{% blocktranslate with station_name=object.name %}Works for station {{ station_name }}{% endblocktranslate %}</h1>
<div class="container mt-4">
	<ul>
		{% for job in jobs %}
		<li><div>
			Task {{ job.task.name }} for {{ job.work }}{% if job.work.quantity != 1 %} x{{job.work.quantity}}{% endif %}.
			<a href="{% url 'admin:iris_commit_add' %}?job={{ job.pk }}">Commit</a>
			<a href="{% url 'admin:iris_delay_add' %}?job={{ job.pk }}">Delay</a>
			<a href="{% url 'admin:iris_suspension_add' %}?job={{ job.pk }}">Suspend</a>
		</div></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
