{% extends 'iris/base.html' %}

{% load i18n %}

{% block content %}
<div class="container m-4">
	<h1>{% blocktranslate with station_name=object.name %}Works for station {{ station_name }}{% endblocktranslate %}</h1>
	<ul>
		{% for job in jobs %}
		<li><div>
			Task {{ job.task.name }} for {{ job.work }}{% if job.work.quantity != 1 %} x{{job.work.quantity}}{% endif %}.
			<a href="{% url 'admin:iris_commit_add' %}?job={{ job.pk }}">Commit</a>
			<a href="{% url 'admin:iris_delay_add' %}?job={{ job.pk }}">Delay</a>
			<a href="{% url 'admin:iris_suspension_add' %}?job={{ job.pk }}">Suspend</a>
			<a href="{% url 'admin:iris_priority_add' %}?job={{ job.pk }}">Prioritize</a>
		</div></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
