{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% blocktranslate with work_id=object.pk %}Editing work {{ work_id }}{% endblocktranslate %}{% endblock %}
{% block iris_header %}{% blocktranslate %}Editing {{ object }}{% endblocktranslate %}{% endblock %}

{% block content %}
<div class="container-sm mt-4 p-4">
	<form method="post">
		{% csrf_token %}
		<input type="hidden" id="next_url" value="{{ next_url }}">
		{% include "iris/forms/include/form_errors.html" %}
		<div class="mb-3 row">
			<div class="col">
				{% translate "Description" as description_label %}
				{% include "iris/forms/include/input_text.html" with field=form.description label=description_label %}
			</div>
		</div>
		<div class="mb-3 row">
			<div class="col">
				<label for="id_notes" class="form-label">{% translate "Notes" %}</label>
				<textarea id="id_notes" name="notes" class="form-control" rows="10">{{ object.notes }}</textarea>
				{% if form.notes.errors %}
				<ul class="text-danger">
					{% for error in form.notes.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-primary w-100">{% translate "Save changes" %}</button>
		</div>
	</form>
</div>
{% endblock %}
