{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% blocktranslate %}Editing delay {{ object.pk }}{% endblocktranslate %}{% endblock %}{% endblock %}

{% block content %}
<div class="container-sm mt-4 p-4">
	<form method="post">
		{% csrf_token %}
		<input type="hidden" id="next_url" value="{{ next_url }}">
		{% include "iris/forms/include/form_errors.html" %}
		<div class="mb-3 row">
			<div class="col">
				{% translate "Days" as days_label %}
				{% include "iris/forms/include/input_number.html" with field=form.days label=days_label min=0 %}
			</div>
			<div class="col">
				{% translate "Hours" as hours_label %}
				{% include "iris/forms/include/input_number.html" with field=form.hours label=hours_label min=0 %}
			</div>
			<div class="col">
				{% translate "Minutes" as minutes_label %}
				{% include "iris/forms/include/input_number.html" with field=form.minutes label=minutes_label min=0 %}
			</div>
		</div>
		<div class="mb-3 row">
			<div class="col">
				{% translate "Notes" as notes_label %}
				{% include "iris/forms/include/textarea.html" with field=form.notes label=notes_label %}
			</div>
		</div>
		<div>
			<button type="submit" class="btn btn-primary w-100">{% translate "Save changes" %}</button>
		</div>
	</form>
</div>
{% endblock %}
