{% load i18n %}

<div class="container mt-4">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">{{ job.task.name }}</h5>
			{% if job.work.quantity != 1 %}<h6 class="card-subtitle mb-2 text-muted">{% blocktranslate with quantity=job.work.quantity %}{{ quantity }} times{% endblocktranslate %}</h6>{% endif %}
			<p class="card-text">{{ job.work }}</p>
		</div>
		{% if job.commit.notes %}
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<p>{% translate "Commit notes" %}</p>
				<p>{{ job.commit.notes|linebreaks }}</p>
			</li>
		</ul>
		{% endif %}
		<div class="card-footer">
			<a class="btn btn-primary" href="{% url 'iris:job_detail' job.pk %}">{% translate "Job details" %}</a>
			<a class="btn btn-primary" href="{% url 'iris:commit_change' job.commit.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Edit commit notes" %}</a>
		</div>
	</div>
</div>
