{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% translate "Log in" %}{% endblock %}{% endblock %}

{% block content %}
<div class="container-sm mt-4 p-4">
	<form method="post" action="{% url 'iris:login' %}">
		{% csrf_token %}
		{% include "iris/forms/include/form_errors.html" %}
		<div class="mb-3">
			{% include "iris/forms/include/input_text.html" with field=form.username label=form.username.label autocomplete="username" autofocus=True autocapitalize="none" required=True %}
		</div>
		<div class="mb-4">
			{% include "iris/forms/include/input_text.html" with field=form.password label=form.password.label type="password" autocomplete="current-password" required=True %}
		</div>
		<div>
			<button type="submit" class="btn btn-primary w-100">{% translate "Log in" %}</button>
		</div>
	</form>
</div>
{% endblock %}
