{% extends 'admin/admin_base_iris.html' %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block iris_breadcrumbs_tail %}
&rsaquo; <a href="{% url 'admin:iris_task_changelist' %}">{% translate 'Tasks' %}</a>
&rsaquo; {% translate 'Commit tasks' %}
{% endblock %}

{% block content %}

<h2>{% translate 'Commiting tasks' %}:</h2>
<ul>
{% for task in tasks %}
<li>{{ task }}</li>
{% endfor %}
</ul>

<div class="content-main">
	<form action="?ids={{ ids }}" method="post">
		{% csrf_token %}
		<div>
			<fieldset class="module aligned">
				{% for field in form %}
					<div class="form-row">
						<div>
							<div class="flex-container">
								<label{% if field.field.required %} class="required"{% endif %} for="{{ field.auto_id }}">{{ field.label }}:</label>
								{{ field }}
							</div>
						</div>
					</div>
				{% endfor %}
			</fieldset>
			<div class="submit-row">
				<input type="submit" value="{% translate 'Commit tasks' %}">
			</div>
		</div>
	</form>
</div>

{% endblock %}
