{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% translate 'Current issues' %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-4">
	<div class="btn-group">
		<a href="{% url "iris:issues" %}" class="btn btn-primary{% if status == "with_issues" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Both" %}</a>
		<a href="{% url "iris:issues" status="delayed" %}" class="btn btn-primary{% if status == "delayed" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Delays" %}</a>
		<a href="{% url "iris:issues" status="suspended" %}" class="btn btn-primary{% if status == "suspended" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Suspensions" %}</a>
	</div>
	<ul>
		{% for task in object_list %}
		{% include "iris/task_cards/issues.html" %}
		{% endfor %}
	</ul>
</div>
{% endblock %}
