{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% blocktranslate with station_name=object.name %}Works for station {{ station_name }}{% endblocktranslate %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-4">
	<div class="btn-group">
		<a href="{% url "iris:station" object.pk %}" class="btn btn-primary{% if current_mode == "pending" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Pending" %}</a>
		<a href="{% url "iris:station" object.pk %}?mode=delayed" class="btn btn-primary{% if current_mode == "delayed" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Delayed" %}</a>
		<a href="{% url "iris:station" object.pk %}?mode=suspended" class="btn btn-primary{% if current_mode == "suspended" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Suspended" %}</a>
	</div>
	<ul>
		{% if current_mode == "pending" %}
		{% for job in jobs %}{% include "iris/job_cards/station_pending.html" %}{% endfor %}
		{% elif current_mode == "delayed" %}
		{% for job in jobs %}{% include "iris/job_cards/station_delayed.html" %}{% endfor %}
		{% elif current_mode == "suspended" %}
		{% for job in jobs %}{% include "iris/job_cards/station_suspended.html" %}{% endfor %}
		{% endif %}
	</ul>
</div>
{% endblock %}
