{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% translate "All tasks" %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-4">
	<div class="btn-group">
		<a href="{% url "iris:task_list" %}" class="btn btn-primary{% if status == "pending" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Pending" %}</a>
		<a href="{% url "iris:task_list" status="delayed" %}" class="btn btn-primary{% if status == "delayed" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Delayed" %}</a>
		<a href="{% url "iris:task_list" status="suspended" %}" class="btn btn-primary{% if status == "suspended" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Suspended" %}</a>
		<a href="{% url "iris:task_list" status="completed" %}" class="btn btn-primary{% if status == "completed" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Completed" %}</a>
	</div>
	<ul>
		{% if status == "pending" %}
		{% for task in object_list %}{% include "iris/task_cards/station_pending.html" %}{% endfor %}
		{% elif status == "delayed" %}
		{% for task in object_list %}{% include "iris/task_cards/station_delayed.html" %}{% endfor %}
		{% elif status == "suspended" %}
		{% for task in object_list %}{% include "iris/task_cards/station_suspended.html" %}{% endfor %}
		{% elif status == "completed" %}
		{% for task in object_list %}{% include "iris/task_cards/station_completed.html" %}{% endfor %}
		{% endif %}
	</ul>
</div>
{% endblock %}
