{% extends 'iris/base.html' %}

{% load i18n %}

{% block iris_title %}{% block iris_header %}{% translate "All works" %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-4">
	<div class="container-flex">
		<div class="btn-group">
			<a href="{% url "iris:work_list" %}" class="btn btn-primary{% if current_mode == "pending" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Pending" %}</a>
			<a href="{% url "iris:work_list" %}?mode=completed" class="btn btn-primary{% if current_mode == "completed" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Completed" %}</a>
			<a href="{% url "iris:work_list" %}?mode=canceled" class="btn btn-primary{% if current_mode == "canceled" %} active" aria-current="page"{% else %}"{% endif %}>{% translate "Canceled" %}</a>
		</div>
		{% if perms.iris.add_work %}
		<div class="btn-group">
			<a href="{% url "iris:work_add" %}?next={{ request.get_full_path|urlencode }}" class="btn btn-success">{% translate "Create new work" %}</a>
		</div>
		{% endif %}
	</div>
	<ul>
		{% for work in object_list %}
		<div class="container mt-4">
			{% if work.completed %}
			<div class="card border-success">
			{% elif work.canceled %}
			<div class="card border-danger">
			{% else %}
			<div class="card">
			{% endif %}
				{% if work.completed %}
				<div class="card-header text-success">{% translate "This work has been completed." %}</div>
				{% elif work.canceled %}
				<div class="card-header text-danger">{% translate "This work has been canceled." %}</div>
				{% endif %}
				<div class="card-header">
					<h5 class="card-title">{{ work }}</h5>
					{% if work.quantity != 1 %}<h6 class="card-subtitle mb-2 text-muted">{% blocktranslate with quantity=work.quantity %}{{ quantity }} times{% endblocktranslate %}</h6>{% endif %}
				</div>
				<ul class="list-group list-group-flush">
				<li class="list-group-item">
					{% if perms.iris.change_work %}
						<a class="btn btn-primary" href="{% url 'iris:work_change' work.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Edit work details" %}</a>
						{% if not work.canceled %}
							<a class="btn btn-danger" href="{% url 'iris:work_cancel' work.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Cancel work" %}</a>
						{% else %}
							<a class="btn btn-primary" href="{% url 'iris:work_restore' work.pk %}?next={{ request.get_full_path|urlencode }}">{% translate "Restore work" %}</a>
						{% endif %}
					{% endif %}
				</li>
				{% if work.notes %}
				<li class="list-group-item">
					<p>{% translate "Work notes" %}</p>
					<p>{{ work.notes|linebreaks }}</p>
				</li>
				{% endif %}
				<li class="list-group-item">
					<div class="card-body">{% translate "Job list" %}</div>
					{% for job in work.jobs.all %}
						{% include "iris/job_cards/inline.html" %}
					{% endfor %}
				</li>
				</ul>
			</div>
		</div>
		{% endfor %}
	</ul>
</div>
{% endblock %}
