{% load i18n %}
{% if user.is_staff or perms.iris.view_item or perms.iris.view_task or perms.iris.view_delay or perms.iris.view_suspension %}
<li class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle active" id="navbarManagerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% translate "Manage" %}</a>
	<ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarManagerDropdown">
		{% if perms.iris.view_item %}
		<li>
			<a class="dropdown-item" href="{% url 'iris:item_list' %}">{% translate "Items" %}</a>
		</li>
		{% endif %}
		{% if perms.iris.view_task %}
		<li>
			<a class="dropdown-item" href="{% url 'iris:task_list' %}">{% translate "Tasks" %}</a>
		</li>
		{% endif %}
		{% if perms.iris.view_delay or perms.iris.view_suspension %}
		<li>
			<a class="dropdown-item" href="{% url 'iris:issues' %}">{% translate "Issues" %}</a>
		</li>
		{% endif %}
		{% if user.is_staff %}
		<li>
			<a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
		</li>
		{% endif %}
	</ul>
{% endif %}
</li>
