{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'iris:index' %}">Iris</a>
		{% if user.is_authenticated %}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0">
				{% include 'iris/base/navbar-stations.html' %}
				{% include 'iris/base/navbar-manage.html' %}
			</ul>
			<form class="d-flex">
				<span class="navbar-text me-1">{% blocktranslate %}Logged as {{ user }}{% endblocktranslate %}</span>
				<a class="btn btn-primary" role="button" href="{% url 'iris:logout' %}">{% translate "Log out" %}</a>
			</form>
		</div>
		{% endif %}
	</div>
</nav>
